name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        shard: [1, 2, 3, 4]

    steps:
    - uses: actions/checkout@v4 # Checkout the repository code
    - uses: actions/setup-node@v4 # Set up Node.js environment
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci # Install project dependencies

    - name: Install Playwright Browsers
      run:  npx playwright install --with-deps # Install necessary browsers

    - name: Run Playwright tests
      run: npx playwright test --shard=${{ matrix.shard }}/4 --workers=4  # Execute your Playwright tests

    # Optional: Upload HTML report as an artifact
    - name: Upload Playwright Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
